@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fdfdfd;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 0.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #89c1da;
    margin-bottom: 0.5rem;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #222;
}

.footer {
    background-color: #d4d4d4;
    width: 100%;
}